.primary-color {
  /* background-color: #b7ac04; */
  background-color: #6e6e6e;
}
.nav-color{
  background-color: #0d2419;
}
.secondary-color{
  /* background-color: #c7c7c7; */

  background-image: url(/Assets/bg-2.png);
  opacity: 75%;
}

.text-white {
  color: white;
  opacity: 95%;
}

ul li a:hover {
  color: #bbff36 !important;
}

.search-button {
  color: white;
  border: 1px white solid;
  border-radius: 5px;
  background-color: transparent;
  font-weight: bold;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.search-button:hover {
  background-color: #bbff36;
  color: black;
  border: 1px black solid;
  border-radius: 5px;
}

.leaderboard-color {
  background-color: #d7edf6;
  border: 2px solid black;
  border-radius: 15px;
}

li {
  list-style: none;
}

* {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
  /* font-family: "Audiowide", serif; */
}

.bg-edu{
  background: url(assets/bg-edu.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.bg-contact {
  background-color: #1e535b;
}
.opacity:hover{
  opacity: 75%;
}

.img-size {
  height: 20;
  width: 20;
}
.bg-geo {
  background: url(assets/bg-geo.png);
  background-size: 1000px 900px;
}
.pastel-yellow {
  background-color: #F7F6CF;
}
.pastel-green {
  background-color: #8DA47E;
}

.pastel-blue {
  background-color: #DDF2F4;
}

.pastel-pink {
  background-color: #F5E2E4 ;
}




